*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {

    width: 100%;


    nav {
        position: fixed;
    }
}

main {


    .profile {


        display: flex;
        justify-content: space-evenly;


        #image {

            width: 100px;
            height: 100px;
            border-radius: 50%;
            overflow: hidden;
            border: 2px solid;


            img {

                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }


    }


    /* The code for buttons */

    .down {

        display: flex;
        justify-content: space-around;


        .d {
            width: 210px;
            height: 40px;


       


            button {

                width: 100%;
                height: 100%;
                border-radius: 10px;
                background-color: white;
                border:1px solid;
            }

        }


        #f{

            button{

                width: 30px;
                height: 30px;
                border-radius:25%;
                border:none;
            }
        }


   
        }
    }

    /* This is code for hightlights (plus symbol) */
    .icon{

        width: 90px;
        height: 90px;
        border:2px solid;
        border-radius:50%;


        img{

            width: 100%;
            height: 100%;
            padding: 15px;
            object-fit: contain;
        }

        p{
            padding-left:25px;
        }
    }



    /* The below code is for posts ,reel and profile icons */

    .section{
    

        display: flex;
        justify-content: space-evenly;



        .post-icons{

            i{

                font-size: 20px;
            }
        }

       .post-icons:hover{

        border-bottom:2px solid;
        
       }
    }



    article{
        font-size: 20px;
        text-align: center;
    
        /* The below code belongs to instagram1html page for adding images */
        margin:auto;
        display: grid;
        grid-template-columns: auto auto auto;
        
        gap:2px;
        /* column-gap: 2px;
        row-gap:5px; */
        

        .post-images{

            /* width: 100px;
            height: 100px; */
            aspect-ratio: 1/1;
            overflow: hidden;
             
            img{
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
            }
        }
    }



    .text{
        text-align:center;
        color:rgb(65, 65, 239)
    }





/* The below code is for footer*/
footer {
    .footer{
        

        display: flex;
        justify-content:space-around;
        align-items: center;


        i{

            font-size:20px;
        }
    }
}